.user-account-section {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}


.user-profile {
    width: 100%;
    max-width: 600px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.user-photo {
    width: 150px;
    height: 150px;
    border: 3px solid #BC8F8F;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}


.profile-info p {
    font-size: 16px;
    margin: 10px 0;
    color: #333;
}


.logout-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #BC8F8F;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
}

.logout-btn:hover {
    background-color: #333333;
}


h2 {
    text-align: center;
    margin-top: 40px;
    font-size: 24px;
    color: #444;
}

p {
    text-align: center;
    font-size: 18px;
    color: #666;
    margin-top: 10px;
}
