<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dance direction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dance.css') }}">
</head>

{% extends 'header.html' %}
{% block content %}

<body>

    <h3>Dance direction</h3>

    <div class="cards-container">
        {% if danceclass %}
            {% for dance  in danceclass %}
                <div class="card">
                    <div class="card-header">
                        {{ dance.direction }}
                    </div>
                    <div class="card-body">
                        <p><strong>Teacher:</strong> {{ dance.teacher }}</p>
                        <p><strong>Group:</strong> {{ dance.group }}</p>
                        <p><strong>Schedule:</strong> {{ dance.schedule }}</p>
                        <a href="{{ url_for('subscriptions') }}">Join Now</a>
                    </div>
                </div>

            {% endfor %}
        {% else %}
            <p style="text-align:center; color: #777;">No dance classes available.</p>
        {% endif %}
    </div>

</body>

{% endblock %}

</html>
