<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>abf</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
</head>
<body>
<header>
    <div class="logo">
        <h1>ABF</h1>
    </div>
    <nav>
        <ul>
                <li><a href="{{ url_for('index') }}">Головна</a></li>
                <li><a href="{{ url_for('subscriptions') }}">Абоніменти</a></li>
                <li><a href="{{ url_for('dance') }}">Танці</a></li>
                <li><a href="{{ url_for('aboutus') }}">Про нас</a></li>
                <li><a href="{{ url_for('register') }}">Акаунт</a></li>

        </ul>
    </nav>
</header>

    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>

<footer>
    <div class="footer-content">
        <ul>
            <li><a href="#">instagram</a></li>
            <li><a href="#">+380663456789</a></li>
        </ul>
    </div>

    <div class="nav-content">
        <h1>Харків</h1>
        <p>Вернадського 20 (ст.м "Левада")</p>
    </div>

    <p class="footer-copyright">&copy; 2024 Ваша компанія. Усі права захищені.</p>
</footer>

</body>
</html>
