<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>abf</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

    {% extends 'header.html' %}
    {% block content %}

</head>
<body>
<h2>Always big family</h2>
<img src="">
<footer>
    <div class="footer-content">
        <p>&copy; 2024 Ваша компанія. Усі права захищені.</p>
        <ul>
            <li><a href="#">instagram</a></li>
            <li><a href="#">telegram</a></li>
            <li><a href="#">Контакти</a></li>
        </ul>
    </div>
</footer>
</body>
</html>

{% endblock %}
