<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dance direction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='subscriptions.css') }}">
</head>
<body>
    {% extends 'header.html' %}

    {% block content %}
    <h1>All Subscriptions</h1>
    <div class="card-container">
        {% for subscription in subscriptions %}
        <div class="card">
            <img src="{{ url_for('static', filename='images/subscription.jpg') }}" alt="subscription" class="subscription-img">
            <h2>{{ subscription.quantity }}</h2>
            <p><strong>Price:</strong> {{ subscription.price }} UAH</p>
            <p><strong>Duration:</strong> {{ subscription.time }}</p>
            <form method="POST" action="{{ url_for('order_subscription', subscription_id=subscription.id) }}">
                <button type="submit" class="order-button">Order</button>
            </form>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
</body>
</html>
