<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='user_account.css') }}">
</head>

<body>
{% extends 'header.html' %}
{% block content %}
    <section class="user-account-section">

        <div class="user-profile">
            <img src="{{ url_for('static', filename='images/user_photo.jpg') }}" alt="User Photo" class="user-photo">

            <div class="profile-info">
                <p><strong>Username:</strong> {{ user.username }}</p>
                <p><strong>Email:</strong> {{ user.email }}</p>
                <p><strong>Phone:</strong> {{ user.phone }}</p>
            </div>

            <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>
        </div>
    </section>
<h2>Your Subscription</h2>
{% if user.subscription %}
    <p>{{ user.subscription.quantity }} на {{ user.subscription.time }}</p>
{% else %}
    <p>Абоніментів немає.</p>
{% endif %}

{% endblock %}
</body>
</html>
